{% load static %}
{% block reconocimeintos %}
<div class="reconocimeintos ">
    <div class="container ">
        <div class="pt-5">
            <h4 class="col" style="text-align: center;padding-top: 30px;">Afiliaciones y Reconocimientos</h3>
        </div>

        <div class="row justify-content-center mb-5 mt-5">
            
            <div class="col-md-3 text-center">
                <img src="{% static 'img/conacoop.jpg' %}" alt="Coonacop" class="img-fluid">
            </div>

            <div class="col-md-3 text-center">
                <img src="{% static 'img/cooperativa-americas.png' %}" alt="Cooperativa de las Americas" class="img-fluid">
            </div>

            <div class="col-md-3 text-center">
                <img src="{% static 'img/ccc-ca.png' %}" alt="" class="img-fluid">
            </div>

            <div class="col-md-3 text-center">
                <img src="{% static 'img/uaf.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}