{% extends 'base.html' %}
{%load static %}
{% block content%}
   
<h2 class="text-center" style="margin-top: 50px;">
    <small class="h2 text-muted " style=" font-family: fangsong; margin-right: -15px;">Solicita tu préstamo aquí!</small>
  </h2>
  <p class="text-muted" style=" font-family: fangsong, Helvetica, sans-serif; font-size: 20px; text-align: center;">Favor de llenar el siguiente formulario para poder validar su solicitud</p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" style="font-family: cursive;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <img src="{% static 'img/usuario1.png'%}" class="me-2"  height="30px" width="30px" alt="">
                Datos Personales
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show"  aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

                   <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-4 col-md-3 col-lg-4 col-xl-4 ms-2" style="text-align: left;">Escoje una Opción</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0 ">
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">Dominicano</option>
                            <option value="2">Extranjero</option>
                          </select>
                      </div>
                    </div>
                   <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left; ">No. Socio</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="número de socio" aria-label="readonly input example">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Nombre(s)</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="nombres" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Apellido(s)</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="Apellidos" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Nacionalidad</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="nacionalidad" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Edad</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="edad" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Fecha de Nacimiento</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="DD/MM/AA" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                    <div class="input-group mb-3" style="margin-top: 15px; justify-content: start;">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" style="text-align: left;">Documento de Identidad</div>
                    <select class="col-sm-6 col-md-6 col-lg-2 col-xl-2  btn dropdown-toggle btn-secondary " style="border-radius: 8px; margin-left: 12px;">
                        <option class="col-4" selected ><a class="dropdown-item " href="#" >Pasaporte</a></option>
                        <option class="col-4" selected ><a class="dropdown-item " href="#" >Cédula</a></option>
                    </select>
                    <input type="text" class=" col-sm-4 col-md-4 col-lg-4 col-xl-4" aria-label="Text input with dropdown button" placeholder="001-0014562-1" style="border-radius: 8px; padding-left: 25px; margin-left: -20px;">
                    </div>   
                </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" style="font-family: cursive;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               <img class="me-2" src="{% static 'img/laboral3.png'%}" height="35px" width="35px" alt="">
                Información Laboral
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             
                <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left; ">Tipo de Empleo</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">Empleado Privado</option>
                            <option value="2">Empleado Público</option>
                            </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Nombre de la Empresa</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="nombre empresa" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Teléfono</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="teléfono" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Extensión</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="extensión" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Cargo que Ocupa</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="cargo " aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Fecha de Ingreso</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="fecha ingreso" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Ingreso Mensual</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="ingreso al mes" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Otros Ingresos</div>
                        <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                          <input class="form-control" type="text" placeholder="otros ingresos" aria-label="readonly input example" >
                        </div>
                      </div>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Dirección de la Empresa</div>
                          <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                            <input class="form-control my-3" type="text" placeholder="dirección empresa" aria-label="readonly input example" >
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Municipio O Ciudad</div>
                            <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                              <input class="form-control" type="text" placeholder="municipio" aria-label="readonly input example" >
                            </div>
                          </div>
                        </div>
                        <div class="container text-center">
                            <div class="row">
                              <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Provincia</div>
                              <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                                <input class="form-control my-3" type="text" placeholder="provincia" aria-label="readonly input example" >
                              </div>
                            </div>
                        </div>
                    </div>
                 </div>
           <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" style="font-family: cursive;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <img class="me-2" src="{% static 'img/infoContacto.jpg'%}" height="40px" width="40px" alt="">
                Información de Contacto y Dirección
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left; ">Teléfono Residencial</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="teléfono residencial" aria-label="readonly input example">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Teléfono de Oficina</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="teléfono de oficina" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Celular</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="celular" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Facebook</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="facebook" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Twitter</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="twitter" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Instagram</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control" type="text" placeholder="instagram" aria-label="readonly input example" >
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Email</div>
                      <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                        <input class="form-control my-3" type="text" placeholder="email" aria-label="readonly input example" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Calle</div>
                        <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                          <input class="form-control" type="text" placeholder="calle" aria-label="readonly input example" >
                        </div>
                      </div>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Casa No.</div>
                          <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                            <input class="form-control my-3" type="text" placeholder="casa no." aria-label="readonly input example" >
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Apartamento</div>
                            <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                              <input class="form-control" type="text" placeholder="apartamento" aria-label="readonly input example" >
                            </div>
                          </div>
                        </div>
                        <div class="container text-center">
                            <div class="row">
                              <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Barrio o Sector</div>
                              <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                                <input class="form-control my-3" type="text" placeholder="sector" aria-label="readonly input example" >
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Provincia</div>
                                <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                                  <input class="form-control" type="text" placeholder="provincia" aria-label="readonly input example" >
                                </div>
                              </div>
                            </div>
                            <div class="container text-center">
                                <div class="row">
                                  <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Municipio o Ciudad</div>
                                  <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                                    <input class="form-control my-3" type="text" placeholder="municipio" aria-label="readonly input example" >
                                  </div>
                                </div>
                            </div>
                       </div>
                  </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
              <button class="accordion-button collapsed" style="font-family: cursive;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <img class="me-2" src="{% static 'img/editar.png'%}" height="30px" width="30px" alt="">  
                Datos del Préstamo
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left; ">Tipo de Préstamo</div>
                    <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                      <input class="form-control my-3" type="text" placeholder="tipo préstamo" aria-label="readonly input example">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">Monto a Solicitar</div>
                    <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                      <input class="form-control" type="text" placeholder="monto solicitar" aria-label="readonly input example" >
                    </div>
                  </div>
                </div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4 my-3" style="text-align: left;">Plazo</div>
                    <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                      <select class="form-select my-3 aria-label="Default select example">
                        <option value="1">12 Meses</option>
                        <option value="2">24 Meses</option>
                        <option value="1">36 Meses</option>
                        <option value="2">48 Meses</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4" style="text-align: left;">¿Como se enteró de nuestra cooperativa?</div>
                    <div class="col-sm-6 offset-sm-0 col-md-8 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
                      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="comentario" rows="3"></textarea>
                    </div>
                  </div>
                </div> 
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success my-3" data-bs-toggle="button" >Enviar Solicitud</button>
                </div>
              </div>
            </div>
        </div>
    </div>
            {% endblock %}
       