{% extends 'base.html' %}
{%load static %}

{% block content%}

 <!-- Slider -->
 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="max-height: 300px"></div> -->
    <div>
        <div class="carousel-indicators align-items-center h-25"
            style="width: 100%;margin: 0px; opacity: 0.78;vertical-align: middle; height: 30px;">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img src="{% static 'img/carousel-slide2.jpg' %}" class="d-block w-100" alt="Primera Imagen">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div> -->
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel-slide3.jpg' %}" class="d-block w-100" alt="Segunda Imagen">
            <!-- <div class="carousel-caption d-none d-md-block bg-dark">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div> -->
        
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<!-- call to action -->
<div class="py-3 text-center mb-5">
    <div class="col-xl-8 mx-auto px-3" style="max-width: 1000px;">
        <h2>Realiza tu solicitud de préstamo ya!</h2>
        <p class="lead my-4">
        Si buscas dinero para cubrir cualquier necesidad o llevar a 
        cabo cualquier meta, cuenta con nosotros, y solicita un préstamo hoy.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  href="/solicitud_prestamo" class="btn btn-primary btn-lg px-4 gap-3 bg-success "
                style="border-radius: 50px; border: none;">Solicitar Préstamo</a>
        </div>
    </div>
</div>

<!-- START THE FEATURETTES -->
<div class="container marketing mb-5 my-5 justify-content-center">
    <div class="row justify-content-center mb-5">
        <div class="row featurette justify-content-center">
            <div class="col-md-6">
                <h2 class="featurette-heading">¿Quiénes Somos?</h2>
                <p class="lead">
                 Somos una organización que fue fundada para proveer de facilidades financieras a los estilistas de la ciudad de 
Santo Domingo.
                </p>
                <a href="/nosotros#quienes-somos">
                    <p>Leer mas</p>
                </a>
            </div>
            <div class="col-md-5">
                <img src="{% static 'img/quienes-somos.jpg'%}" class="img-fluid feature-post-img">

            </div>
        </div>
    </div>

    <div class="row featurette justify-content-center mb-5 mt-5">
        <div class="col-md-6 order-md-2 ">
            <h2 class="featurette-heading">Conoce más de nosotros<span class="text-muted"></h2>
            <p class="lead">
                ¿Quieres saber que nos identifica y cuál es nuestro norte como organización?<br>
                Conoce más de COOPEUD: nuestra misión, visión, valores e historia. 
            </p>
            <a href="/nosotros#porque-nosotros">
                <p>Leer mas</p>
            </a>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static 'img/por-que-nosotros.jpg'%}" class="img-fluid feature-post-img">
        </div>
        </svg>

    </div>
</div>
<!-- /END THE FEATURETTES -->

{% endblock %}