{% extends 'base.html' %}
{%load static %}
{% block content%}

<div class="container" style="max-width: 1150px;">

  <main>

    <div class="my-5"></div>
    <br />
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="quienes-somos">
      <p class="fs-5 text-muted text-center">
        Conoce a nuestros representantes, personas capacitadas y con vocación de servicio
        que trabajarán de forma incansable hasta hacer tus sueños y metas realidad.
      </p>
    </div>

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img role="img" preserveAspectRatio="xMidYMid slice" focusable="false"
            class="bd-placeholder-img rounded-circle" alt="Claudio Manuel De Cena Rosario - Presidente"
            src="{% static 'img/presidente.png' %}" width="140" height="140">
          <h5 class="mt-2">Presidente</h5>
          <p>Claudio Manuel De Cena Rosario</p>
        </div><!-- /.col-lg-4 -->

        
        <div class="col-lg-4">
          <img role="img" preserveAspectRatio="xMidYMid slice" focusable="false"
            class="bd-placeholder-img rounded-circle" alt="Michell Maldonado - Vice-presidente"
            src="{% static 'img/vice-presidente.png' %}" width="140" height="140">
          <h5>Vice-presidente</h5>
          <p>Delbania Cruz</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img role="img" preserveAspectRatio="xMidYMid slice" focusable="false"
            class="bd-placeholder-img rounded-circle" alt="Michell Maldonado - Secretaria"
            src="{% static 'img/secretaria.png' %}" width="140" height="140">
          <h5>Secretaria</h5>
          <p>Adrianilcida Rondón Del Orbe</p>

        </div><!-- /.row -->


        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-4">
            <img role="img" preserveAspectRatio="xMidYMid slice" focusable="false"
              class="bd-placeholder-img rounded-circle" alt="Estarlyn Baez - Primer Vocal"
              src="{% static 'img/primer-vocal.png' %}" width="140" height="140">
            <h5 class="mt-2">Primer Vocal</h5>
            <p>Estarlyn Baez</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img role="img" preserveAspectRatio="xMidYMid slice" focusable="false"
              class="bd-placeholder-img rounded-circle" alt="Michell Maldonado - Tesorero"
              src="{% static 'img/tesorero.png' %}" width="140" height="140">
            <h5>Tesorero</h5>
            <p>Michell Maldonado</p>
          </div><!-- /.col-lg-4 -->


        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Nuestra Historia</h2>
          <p class="lead">
            COOPEUD, Cooperativa de ahorro, crédito y servicios múltiples estilistas unidos por el progreso y desarrollo
            nace el día 15 del mes de mayo del año 2021, surgió por la necesidad de que existiera un grupo en el sector 
            estilista que se preocupe por su desarrollo en todos los ámbitos, profesional, técnico y económico. 
            Logrando así, la sostenibilidad de sus negocios, su desarrollo y crecimiento, tanto en lo individual como en la familia.

            COOPEUD, junto a un equipo de trabajo, quiere garantizar  y velar por los intereses en común de un sector tan 
            importante como lo es la cosmetología y cosmetría, el cuidado de la piel y belleza. Pertenecer a esta cooperativa es 
            trabajar para ti y tu futuro, únete.
          </p>
        </div>
        <div class="col-md-5">
          
          <img  alt="Nuestra historia" src="{% static 'img/quienes-somos1.jpg' %}" width="400px" height="400px">

        </div>
      </div>

      <hr class="featurette-divider" id="porque-nosotros">

      <div class="row featurette" >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">¿Por qué nosotros?</h2>
          <p class="lead">
            Somos una organización que fue fundada para proveer de facilidades financieras a los estilistas de la ciudad de 
            Santo Domingo. Somos un equipo con vocación de servicio, que trabaja con empeño y dedicación y 
            cuya meta es servir de soporte económico a los técnicos y profesionales del área de belleza de nuestra comunidad.
            Nuestros miembros directivos, personas que cree fielmente en la cooperación y la solidaridad. 
            <br>
            <br>
            Nuestros objetivos:
          </p>
          <ul class="lead">
            <li>Incentivar el emprendedurismo en pequeños y medianos empresarios.</li>
            <li>Diseñar planes para estrategia de inversión.</li>
            <li>Estimular el hábito de horro entre sus asociados.</li>
            <li>Promover y fortalecer el ejercicio de la solidaridad entre las familias y sus asociados mediante programas educativos permanentes.</li>
            <li>Conceder prestamos a sus socios para atender necesidades individuales o familiares al tipo de comisión más razonable posible, sin perder el carácter y la esencia de empresa de economía solidaria, con fines productivos.</li>
            <li>Ofrecer a sus socios a precio justo los bienes y servicios de calidad acorde con las necesidades de esta.</li>
          </ul>

        </div>
        <div class="col-md-5 order-md-1">
          
            <img  alt="Nuestra historia" src="{% static 'img/Socio-2.jpg' %}" width="380px" height="400px">

        </div>
      </div>

      <hr class="featurette-divider">
      <div class="container" id="hanging-icons">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">

            <div>
              <h2>Misión</h2>
              <p>
                Ser la empresa número uno en alojar todos los emprendedores 
                y profesionales en el sector de cosmetología y cosmiatría,
                llevandolos a un siguiente nivel siendo la mano amiga.
              </p>

            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h2>Visión</h2>
              <p>
                Ser el centro académico más preparado,
                            eficiente y tecnológicamente, número uno en el mundo de la 
                            cosmetología y cosmetría, logrando asi tecnificar y certificar 
                            a cada estilista en diferentes áreas de la misma.
              </p>

            </div>
          </div>
          <div class="col d-flex align-items-start">

            <div>
              <h2>Valores</h2>
              <p>
                Sembrar en cada socio la responsabilidad de confianza,
                                    honestidad y lealtad en nuestra institución para que
                                    esta perdure en el tiempo y pueda cumplir con sus 
                                    objetivos, misión y visión sin importar quien la maneje.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

  </main>

</div>
{% endblock %}