{% extends 'base.html' %}
{%load static %}

{% block content %}

<!-- <script type="module" src="{% static 'js/mapaScript.js'%}">  </script> -->
<div class="container">
  <div class="row text-center mt-5 mb-5">
    <h3>¿Donde Estamos Localizados ?</h3>
  </div>

  <div class="text-center">
    <h4>Encuentranos en :</h4>
    <p class="">Carretera Camino Viejo a Cancino #16
      Santo Domingo Este, Santo Domingo, Republica Dominicana
    </p>
  </div>

  <div class="pt-4 px-2" style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no"
      marginheight="0" marginwidth="0"
      src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=C.%20Cam.%20de%20Cancino%2016,%20Santo%20Domingo%20Este+(COOPEUD)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
  </div>



</div>

{% endblock %}