{% extends 'base/header.html' %}

{% load static %}
{% block branding %}
  <main class="flex-shrink-0">
    <div class="bg-success browser-line-separator"></div>
    <div class="px-4 pt-5 mt-4 text-center">
      <img src="{%  static 'img/logo.jpg' %}" alt="COOPEUD" width="180">
      <h1 class="display-5 fw-bold">COOPEUD</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Cooperativa de Ahorro, Crédito y Servicios Múltiples Estilistas Unidos por el Progrerso y Desarrollo</p>
      </div>
    </div>   
{% endblock branding %}
